    <!--Step 1 : Adding HTML-->
    <form action="/login" method="POST" id="signup">
        <div class="imgcontainer">
            <img src=
"https://www.pngitem.com/pimgs/m/12-120179_best-free-ruby-png-ruby-programming-language-logo.png"
                 alt="Avatar" class="avatar">
        </div>
 
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>
 
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
 
            <button type="submit">Login</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>
 
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>